@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Luxurious+Roman&family=Neonderthaw&family=Redressed&family=Roboto+Slab:wght@100&display=swap');

* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {

    height: 100vh !important;
    font-family: 'Roboto Slab', serif;
    color: black;

}

/* Clases reutilizables */

.BTN {

    text-decoration: none;
    color: white;
    background-color: #1B262C;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    padding: 15px 30px;
    border-radius: 10px;
    display: inline-block;

}

/* Primera secci贸n */

#Primera-seccion {

    background: linear-gradient(rgba(0, 0, 0, 0.637), rgba(0, 0, 255, 0.37)), url(../Images/CERSECover.jpg);
    background-attachment: fixed;
    height: 100vh;
    color: white;
}

#Barra {

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto 60px;
    padding: 30px;

}

#logo {

    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 35px;
    transition: all 0.2s;

}

#logo:hover {

    color: #BBE1FA;

}

nav a {

    text-decoration: none;
    color: white;
    padding: 0 10px;
    font-size: 25px;
    font-weight: 700;
    transition: all 0.2s;

}

nav a:hover {

    color: #BBE1FA;

}

#Contenido-CerSec {

    margin-top: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

#Contenido-CerSec p {

    text-transform: uppercase;
    font-size: 25px;
    margin-bottom: 10px;
    font-weight: bold;

}

#Contenido-CerSec hr {

    width: 120px;
    align-self: center;
    color: #3282B8;

}

#Contenido-CerSec h1 {

    text-transform: uppercase;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 20px;
    text-shadow: 5px 5px 5px#1B262C;

}

/* Segunda Secci贸n */

#segunda-seccion {

    background-color: #0F4C75;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;

}

.Frase {

    font-size: 20px;
    font-style: oblique;
}

/* Tercera seccion */

#Tercera-seccion {

    margin: auto;
    width: 80%;
    padding: 60px 0;
}

#Titulo {

    margin-bottom: 20px;

}

#Titulo h2 {

    text-transform: uppercase;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;

}

#Titulo hr {

    width: 250px;
    margin: auto;
    border-color: #3282B8;

}

#tercera-seccion-container {

    text-align: center;
    display: flex;
    flex-direction: row;

}

.columna-img {

    padding: 0 20px;
    font-size: 50px;

}

.columna-img img {

    max-width: 100%;

}

.columna-img img {

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;

}

.columna-img p {

    margin-bottom: 15px;
    font-size: 20px;

}

/* Cuarta secci贸n */

#cuarta-seccion {

    margin-top: 20PX;
    background: linear-gradient(90deg, rgba(0, 0, 0, 0.637), rgba(0, 0, 255, 0.37)), url(../Images/CERSECover.jpg);
    height: 100vh;
    background-attachment: fixed;
    color: white;

}

#contenedor {

    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;

}

.mitad {

    width: 50%;

}

#cuarta-seccion2 h3 {

    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;

}

#cuarta-seccion2 hr {

    width: 250px;
    border-color: #0F4C75;
    margin-bottom: 30px;

}

#cuarta-seccion2 p {

    margin-bottom: 50px;

}

/* Quinta secci贸n */

#quinta-seccion {

    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 60px 0;
}

#quinta-seccion2 img {

    max-width: 100%;

}

#quinta-seccion1 {

    padding: 0 20px;
    
}

#quinta-seccion1 h3 {

    text-transform: uppercase;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 15px;
}

#quinta-seccion1 hr {

    width: 150px;
    border-color: #3282B8;
    margin-bottom: 20px;

}

#quinta-seccion1 p {

    margin-bottom: 30px;
    color: black;
    font-size: 20px;

}

#quinta-seccion1 a{

    margin-top: 0px;
    margin-bottom: 20px;

}

#quinta-seccion2 {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
    justify-content: center;
    align-items: center;

}

footer{

    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 700;
    font-style: italic;
    margin-bottom: 20px;
    color: black;
    text-align: center;
    

}

@media screen and (max-width:700px) {

    #Primera-seccion {
        padding: 0 15px;
    }

    #Barra {

        flex-direction: column;
        justify-content: center;
        margin: auto;
        text-align: center;
        padding-top: 25px;

    }

    nav a {

        padding: 0 2px;

    }

    #Contenido-CerSec {

        margin-top: 80px;

    }

    #Contenido-CerSec p {

        text-align: center;
        font-size: 20px;

    }

    #Contenido-CerSec h1 {

        font-size: 40px;
        text-align: center;

    }

    #segunda-seccion {

        text-align: center;

    }

    #Tercera-seccion {

        padding: 25px 0;

    }

    #tercera-seccion-container {

        flex-direction: column;
        text-align: center;
        justify-content: space-between;

    }

    .columna-img {

        margin-bottom: 25px;

    }

    #cuarta-seccion1 {

        display: none;

    }

    #cuarta-seccion2 {

        width: 100%;

    }

    #quinta-seccion {

        text-align: center;
        flex-direction: column;
        margin: auto;
        padding-bottom: 35px;

    }

}